[mysqld]
# --------------------------------------------
# FULLTEXT（日本語の2文字検索を成立させる）
# --------------------------------------------
innodb_ft_min_token_size=2
ft_min_word_len=2

character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci
skip-character-set-client-handshake
init_connect='SET NAMES utf8mb4 COLLATE utf8mb4_general_ci'
